<h1 class="text-center bg-light">{{title}}</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="User Name" formControlName="user">
  <br>
  <span style="color: red;" *ngIf="user && user.invalid && user.touched">require field</span>
  <br>
  <input type="password" placeholder="password" formControlName="password">
  <span style="color: red;" *ngIf="password && password.invalid && password.touched">require field</span>
  <button [disabled]="loginForm.invalid">Sign in</button>
</form>

